.flex-fill {
    flex:1;
}

body{
    background-color: white;
}

nav {
    background-color: white;
    font-family: 'Open Sans', sans-serif !important;
    margin-bottom: 0%;
}

hr {
    margin: 0%;
    color: #919191; /* Grey */
    height: 1px;
}

span{
    font-family: 'volkhov', sans-serif;
}


nav ul li {
    font-family: 'Open Sans', sans-serif;
}

nav ul li a{
    color: #919191; /* Grey */
    text-decoration: none;
}

nav ul li a:hover{
    color: black !important;
}

.linkedin{
    width: 35px;
}

.linkedin:hover{
    opacity: 0.35;
}

a {
    color: #ff7575;
}

a:hover {
    color: #919191; /* Grey */
    text-decoration: none;
}

h5{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.btn{
    background-color: white;
    border-color: white;
    color: #919191; /* Grey */
}

.btn:hover{
    background-color: white;
    border-color: white;
    color: black;
}

.btn.focus, .btn:focus{
    background-color: white !important;
    border-color: white !important;
    color: black !important;
}


.dropdown-menu{
    background: white;
}

.dropdown-item{
    color: #919191; /* Grey */
}

.dropdown-item:hover{
    background: white;
}


h3{
    color: black;
    margin-top: 7%;
    margin-bottom: 2%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 200%;
}



h4{
    color: black;
    font-family: 'open sans', sans-serif;
    font-weight: bold;
    font-size: 130%;
    padding-left: 20px;
    padding-right: 20px;
}

.secondarytitles{
    color: black;
    margin-top: 6%;
    margin-bottom: 2%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 200%;
}

.dtext{
    font-family: 'open sans', sans-serif;
    font-size: 97%;
    text-align: center;
    margin-top: 1%;
    padding-left: 20px;
    padding-right: 20px;
}

figcaption{
    font-family: 'open sans', sans-serif;
    font-size: 80%;
    text-align: center;
    margin-top: 1%;
}

img{
    width: 65%;
    margin-top: 1%;
}

.bigimg{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}


.img_portrait{
    width: 70%;
    margin-top: 1%;
}

.img_landscape{
    width: 80%;
    margin-top: 1%;
}


footer{
    font-family: 'open sans', sans-serif;
    font-size: 65%;
    margin-top: 5%;
    text-align: right;
    margin-right: 2%;
}

video{
    display: block;
    margin: auto;
}

@media (max-width: 500px) {
    h3{
        font-size: 170%;
        text-align: center;
    }
    h4{
        font-size: 115%;
    }
    .dtext{
        font-size: 90%;
    }
    .secondarytitles{
        font-size: 170%;
    }
}